VITE_SCADA_HOST=https://kanjabung.web.id
VITE_SCADA_API_BASE_URL=https://kanjabung.web.id/api/scada
VITE_SCADA_AUTH_URL=https://kanjabung.web.id/web/session/authenticate
VITE_SCADA_DB=your_database
VITE_SCADA_LOGIN=your_username
VITE_SCADA_PASSWORD=your_password
